

{% load static %}

{% block extra_style %}
  <link rel="stylesheet" href="{% static 'css/base/foot.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}
  <!-- Подвал -->
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="social-links">
              <a href="https://itclass.folipro.ru/dashboard/projects/70" target="_blank" class="polytech-small"><i class="fas fa-university"></i></a>
              <a href="https://t.me/Y1kanikas" target="_blank"><i class="fab fa-telegram"></i></a>
              <a href="https://github.com/Cirell7" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>