

{% load static %}

{% block extra_style %}
  <link rel="stylesheet" href="{% static 'css/foot.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}
  <!-- Подвал -->
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-info">
                <p>Dice&Date - Платформа для локальных встреч</p>
                <p>Автор: Уткина Полина Сергеевна</p>
            </div>
            <div class="social-links">
                <a href="https://vk.com/school1208official"><i class="fab fa-vk"></i></a>
                <a href="https://t.me/school1208oficial"><i class="fab fa-telegram"></i></a>
            </div>
            <div class="copyright">
                <p>&copy; 2025 Dice&Date. Все права защищены.</p>
            </div>
        </div>
    </div>
</footer>