{% extends 'base/base.html' %}
{% load static %}

{% block extra_style %}
  <link rel="stylesheet" href="{% static 'css/hero.css' %}" />
{% endblock %}

{% block extra_scripts %}
  <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
{% endblock %}

{% block main %}

    <!-- Герой-секция -->
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <h1>Найдите свою игровую компанию!</h1>
                <p>Присоединяйтесь к локальным встречам любителей настольных игр в вашем городе</p>
                <a href="#" class="btn">Присоединиться сейчас</a>
            </div>
        </div>
    </section>

{% endblock %}
